/* 
Framework : Dez Version 2018
Case 	: Social Link Fixed
class	: dez-social-(side)-(%)
from		: 0 percent
top		: 30 percent
*/
.dez-social-left-0,.dez-social-left-1,.dez-social-left-2,.dez-social-left-3,.dez-social-left-4,.dez-social-left-5,.dez-social-left-6,.dez-social-left-7,.dez-social-left-8,.dez-social-left-9,.dez-social-left-10,.dez-social-left-11,.dez-social-left-12,.dez-social-left-13,.dez-social-left-14,.dez-social-left-15,.dez-social-left-16,.dez-social-left-17,.dez-social-left-18,.dez-social-left-19,.dez-social-left-20,.dez-social-left-21,.dez-social-left-22,.dez-social-left-23,.dez-social-left-24,.dez-social-left-25,.dez-social-left-26,.dez-social-left-27,.dez-social-left-28,.dez-social-left-29,.dez-social-left-30
{
	position:fixed;
	left:0px;
}
.dez-social-left-0
{
	margin-top:0%;
}
.dez-social-left-1
{
	margin-top:1%;
}
.dez-social-left-1
{
	margin-top:1%;
}
.dez-social-left-2
{
	margin-top:2%;
}
.dez-social-left-3
{
	margin-top:3%;
}
.dez-social-left-4
{
	margin-top:4%;
}
.dez-social-left-5
{
	margin-top:5%;
}
.dez-social-left-6
{
	margin-top:6%;
}
.dez-social-left-7
{
	margin-top:7%;
}
.dez-social-left-8
{
	margin-top:8%;
}
.dez-social-left-9
{
	margin-top:9%;
}
.dez-social-left-10
{
	margin-top:10%;
}
.dez-social-left-11
{
	margin-top:11%;
}
.dez-social-left-12
{
	margin-top:12%;
}
.dez-social-left-13
{
	margin-top:13%;
}
.dez-social-left-14
{
	margin-top:14%;
}
.dez-social-left-15
{
	margin-top:15%;
}
.dez-social-left-16
{
	margin-top:16%;
}
.dez-social-left-17
{
	margin-top:17%;
}
.dez-social-left-18
{
	margin-top:18%;
}
.dez-social-left-19
{
	margin-top:19%;
}
.dez-social-left-20
{
	margin-top:20%;
}
.dez-social-left-21
{
	margin-top:21%;
}
.dez-social-left-22
{
	margin-top:22%;
}
.dez-social-left-23
{
	margin-top:23%;
}
.dez-social-left-24
{
	margin-top:24%;
}
.dez-social-left-25
{
	margin-top:25%;
}
.dez-social-left-26
{
	margin-top:26%;
}
.dez-social-left-27
{
	margin-top:27%;
}
.dez-social-left-28
{
	margin-top:28%;
}
.dez-social-left-29
{
	margin-top:29%;
}
.dez-social-left-30
{
	margin-top:30%;
}
.dez-social-left-0 span img,.dez-social-left-1 span img,.dez-social-left-2 span img,.dez-social-left-3 span img,.dez-social-left-4 span img,.dez-social-left-5 span img,.dez-social-left-6 span img,.dez-social-left-7 span img,.dez-social-left-8 span img,.dez-social-left-9 span img,.dez-social-left-10 span img,.dez-social-left-11 span img,.dez-social-left-12 span img,.dez-social-left-13 span img,.dez-social-left-14 span img,.dez-social-left-15 span img,.dez-social-left-16 span img,.dez-social-left-17 span img,.dez-social-left-18 span img,.dez-social-left-19 span img,.dez-social-left-20 span img,.dez-social-left-21 span img,.dez-social-left-22 span img,.dez-social-left-23 span img,.dez-social-left-24 span img,.dez-social-left-25 span img,.dez-social-left-26 span img,.dez-social-left-27 span img,.dez-social-left-28 span img,.dez-social-left-29 span img,.dez-social-left-30 span img
{
	width:45px;
}

/* This is a style code for dez-social-right series */
.dez-social-right-0,.dez-social-right-1,.dez-social-right-2,.dez-social-right-3,.dez-social-right-4,.dez-social-right-5,.dez-social-right-6,.dez-social-right-7,.dez-social-right-8,.dez-social-right-9,.dez-social-right-10,.dez-social-right-11,.dez-social-right-12,.dez-social-right-13,.dez-social-right-14,.dez-social-right-15,.dez-social-right-16,.dez-social-right-17,.dez-social-right-18,.dez-social-right-19,.dez-social-right-20,.dez-social-right-21,.dez-social-right-22,.dez-social-right-23,.dez-social-right-24,.dez-social-right-25,.dez-social-right-26,.dez-social-right-27,.dez-social-right-28,.dez-social-right-29,.dez-social-right-30
{
	position:fixed;
	right:0px;
}
.dez-social-right-0
{
	margin-top:0%;
}
.dez-social-right-1
{
	margin-top:1%;
}
.dez-social-right-1
{
	margin-top:1%;
}
.dez-social-right-2
{
	margin-top:2%;
}
.dez-social-right-3
{
	margin-top:3%;
}
.dez-social-right-4
{
	margin-top:4%;
}
.dez-social-right-5
{
	margin-top:5%;
}
.dez-social-right-6
{
	margin-top:6%;
}
.dez-social-right-7
{
	margin-top:7%;
}
.dez-social-right-8
{
	margin-top:8%;
}
.dez-social-right-9
{
	margin-top:9%;
}
.dez-social-right-10
{
	margin-top:10%;
}
.dez-social-right-11
{
	margin-top:11%;
}
.dez-social-right-12
{
	margin-top:12%;
}
.dez-social-right-13
{
	margin-top:13%;
}
.dez-social-right-14
{
	margin-top:14%;
}
.dez-social-right-15
{
	margin-top:15%;
}
.dez-social-right-16
{
	margin-top:16%;
}
.dez-social-right-17
{
	margin-top:17%;
}
.dez-social-right-18
{
	margin-top:18%;
}
.dez-social-right-19
{
	margin-top:19%;
}
.dez-social-right-20
{
	margin-top:20%;
}
.dez-social-right-21
{
	margin-top:21%;
}
.dez-social-right-22
{
	margin-top:22%;
}
.dez-social-right-23
{
	margin-top:23%;
}
.dez-social-right-24
{
	margin-top:24%;
}
.dez-social-right-25
{
	margin-top:25%;
}
.dez-social-right-26
{
	margin-top:26%;
}
.dez-social-right-27
{
	margin-top:27%;
}
.dez-social-right-28
{
	margin-top:28%;
}
.dez-social-right-29
{
	margin-top:29%;
}
.dez-social-right-30
{
	margin-top:30%;
}
.dez-social-right-0 span img,.dez-social-right-1 span img,.dez-social-right-2 span img,.dez-social-right-3 span img,.dez-social-right-4 span img,.dez-social-right-5 span img,.dez-social-right-6 span img,.dez-social-right-7 span img,.dez-social-right-8 span img,.dez-social-right-9 span img,.dez-social-right-10 span img,.dez-social-right-11 span img,.dez-social-right-12 span img,.dez-social-right-13 span img,.dez-social-right-14 span img,.dez-social-right-15 span img,.dez-social-right-16 span img,.dez-social-right-17 span img,.dez-social-right-18 span img,.dez-social-right-19 span img,.dez-social-right-20 span img,.dez-social-right-21 span img,.dez-social-right-22 span img,.dez-social-right-23 span img,.dez-social-right-24 span img,.dez-social-right-25 span img,.dez-social-right-26 span img,.dez-social-right-27 span img,.dez-social-right-28 span img,.dez-social-right-29 span img,.dez-social-right-30 span img
{
	width:45px;
}

