.dez-padding-left-1
{
	padding-left:1%;
}
.dez-padding-left-2
{
	padding-left:2%;
}
.dez-padding-left-3
{
	padding-left:3%;
}
.dez-padding-left-4
{
	padding-left:4%;
}
.dez-padding-left-5
{
	padding-left:5%;
}
.dez-padding-left-6
{
	padding-left:6%;
}
.dez-padding-left-7
{
	padding-left:7%;
}
.dez-padding-left-8
{
	padding-left:8%;
}
.dez-padding-left-9
{
	padding-left:9%;
}
.dez-padding-left-10
{
	padding-left:10%;
}
.dez-padding-left-11
{
	padding-left:11%;
}
.dez-padding-left-12
{
	padding-left:12%;
}
.dez-padding-left-13
{
	padding-left:13%;
}
.dez-padding-left-14
{
	padding-left:14%;
}
.dez-padding-left-15
{
	padding-left:15%;
}
.dez-padding-left-16
{
	padding-left:16%;
}
.dez-padding-left-17
{
	padding-left:17%;
}
.dez-padding-left-18
{
	padding-left:18%;
}
.dez-padding-left-19
{
	padding-left:19%;
}
.dez-padding-left-20
{
	padding-left:20%;
}
.dez-padding-left-21
{
	padding-left:21%;
}
.dez-padding-left-22
{
	padding-left:22%;
}
.dez-padding-left-23
{
	padding-left:23%;
}
.dez-padding-left-24
{
	padding-left:24%;
}
.dez-padding-left-25
{
	padding-left:25%;
}
.dez-padding-left-26
{
	padding-left:26%;
}
.dez-padding-left-27
{
	padding-left:27%;
}
.dez-padding-left-28
{
	padding-left:28%;
}
.dez-padding-left-29
{
	padding-left:29%;
}
.dez-padding-left-30
{
	padding-left:30%;
}
.dez-padding-left-31
{
	padding-left:31%;
}
.dez-padding-left-32
{
	padding-left:32%;
}
.dez-padding-left-33
{
	padding-left:33%;
}
.dez-padding-left-34
{
	padding-left:34%;
}
.dez-padding-left-35
{
	padding-left:35%;
}
.dez-padding-left-36
{
	padding-left:36%;
}
.dez-padding-left-37
{
	padding-left:37%;
}
.dez-padding-left-38
{
	padding-left:38%;
}
.dez-padding-left-39
{
	padding-left:39%;
}
.dez-padding-left-40
{
	padding-left:40%;
}
.dez-padding-left-41
{
	padding-left:41%;
}
.dez-padding-left-42
{
	padding-left:42%;
}
.dez-padding-left-43
{
	padding-left:43%;
}
.dez-padding-left-44
{
	padding-left:44%;
}
.dez-padding-left-45
{
	padding-left:45%;
}
.dez-padding-left-46
{
	padding-left:46%;
}
.dez-padding-left-47
{
	padding-left:47%;
}
.dez-padding-left-48
{
	padding-left:48%;
}
.dez-padding-left-49
{
	padding-left:49%;
}
.dez-padding-left-50
{
	padding-left:50%;
}
.dez-padding-left-51
{
	padding-left:51%;
}
.dez-padding-left-52
{
	padding-left:52%;
}
.dez-padding-left-53
{
	padding-left:53%;
}
.dez-padding-left-54
{
	padding-left:54%;
}
.dez-padding-left-55
{
	padding-left:55%;
}
.dez-padding-left-56
{
	padding-left:56%;
}
.dez-padding-left-57
{
	padding-left:57%;
}
.dez-padding-left-58
{
	padding-left:58%;
}
.dez-padding-left-59
{
	padding-left:59%;
}
.dez-padding-left-60
{
	padding-left:60%;
}
.dez-padding-left-61
{
	padding-left:61%;
}
.dez-padding-left-62
{
	padding-left:62%;
}
.dez-padding-left-63
{
	padding-left:63%;
}
.dez-padding-left-64
{
	padding-left:64%;
}
.dez-padding-left-65
{
	padding-left:65%;
}
.dez-padding-left-66
{
	padding-left:66%;
}
.dez-padding-left-67
{
	padding-left:67%;
}
.dez-padding-left-68
{
	padding-left:68%;
}
.dez-padding-left-69
{
	padding-left:69%;
}
.dez-padding-left-70
{
	padding-left:70%;
}
.dez-padding-left-71
{
	padding-left:71%;
}
.dez-padding-left-72
{
	padding-left:72%;
}
.dez-padding-left-73
{
	padding-left:73%;
}
.dez-padding-left-74
{
	padding-left:74%;
}
.dez-padding-left-75
{
	padding-left:75%;
}
.dez-padding-left-76
{
	padding-left:76%;
}
.dez-padding-left-77
{
	padding-left:77%;
}
.dez-padding-left-78
{
	padding-left:78%;
}
.dez-padding-left-79
{
	padding-left:79%;
}
.dez-padding-left-80
{
	padding-left:80%;
}
.dez-padding-left-81
{
	padding-left:81%;
}
.dez-padding-left-82
{
	padding-left:82%;
}
.dez-padding-left-83
{
	padding-left:83%;
}
.dez-padding-left-84
{
	padding-left:84%;
}
.dez-padding-left-85
{
	padding-left:85%;
}
.dez-padding-left-86
{
	padding-left:86%;
}
.dez-padding-left-87
{
	padding-left:87%;
}
.dez-padding-left-88
{
	padding-left:88%;
}
.dez-padding-left-89
{
	padding-left:89%;
}
.dez-padding-left-90
{
	padding-left:90%;
}
.dez-padding-left-91
{
	padding-left:91%;
}
.dez-padding-left-92
{
	padding-left:92%;
}
.dez-padding-left-93
{
	padding-left:93%;
}
.dez-padding-left-94
{
	padding-left:94%;
}
.dez-padding-left-95
{
	padding-left:95%;
}
.dez-padding-left-96
{
	padding-left:96%;
}
.dez-padding-left-97
{
	padding-left:97%;
}
.dez-padding-left-98
{
	padding-left:98%;
}
.dez-padding-left-99
{
	padding-left:99%;
}
.dez-padding-left-100
{
	padding-left:100%;
}
/* The Style Code for padding-right-% starts from Here. */
.dez-padding-right-1
{
	padding-right:1%;
}
.dez-padding-right-2
{
	padding-right:2%;
}
.dez-padding-right-3
{
	padding-right:3%;
}
.dez-padding-right-4
{
	padding-right:4%;
}
.dez-padding-right-5
{
	padding-right:5%;
}
.dez-padding-right-6
{
	padding-right:6%;
}
.dez-padding-right-7
{
	padding-right:7%;
}
.dez-padding-right-8
{
	padding-right:8%;
}
.dez-padding-right-9
{
	padding-right:9%;
}
.dez-padding-right-10
{
	padding-right:10%;
}
.dez-padding-right-11
{
	padding-right:11%;
}
.dez-padding-right-12
{
	padding-right:12%;
}
.dez-padding-right-13
{
	padding-right:13%;
}
.dez-padding-right-14
{
	padding-right:14%;
}
.dez-padding-right-15
{
	padding-right:15%;
}
.dez-padding-right-16
{
	padding-right:16%;
}
.dez-padding-right-17
{
	padding-right:17%;
}
.dez-padding-right-18
{
	padding-right:18%;
}
.dez-padding-right-19
{
	padding-right:19%;
}
.dez-padding-right-20
{
	padding-right:20%;
}
.dez-padding-right-21
{
	padding-right:21%;
}
.dez-padding-right-22
{
	padding-right:22%;
}
.dez-padding-right-23
{
	padding-right:23%;
}
.dez-padding-right-24
{
	padding-right:24%;
}
.dez-padding-right-25
{
	padding-right:25%;
}
.dez-padding-right-26
{
	padding-right:26%;
}
.dez-padding-right-27
{
	padding-right:27%;
}
.dez-padding-right-28
{
	padding-right:28%;
}
.dez-padding-right-29
{
	padding-right:29%;
}
.dez-padding-right-30
{
	padding-right:30%;
}
.dez-padding-right-31
{
	padding-right:31%;
}
.dez-padding-right-32
{
	padding-right:32%;
}
.dez-padding-right-33
{
	padding-right:33%;
}
.dez-padding-right-34
{
	padding-right:34%;
}
.dez-padding-right-35
{
	padding-right:35%;
}
.dez-padding-right-36
{
	padding-right:36%;
}
.dez-padding-right-37
{
	padding-right:37%;
}
.dez-padding-right-38
{
	padding-right:38%;
}
.dez-padding-right-39
{
	padding-right:39%;
}
.dez-padding-right-40
{
	padding-right:40%;
}
.dez-padding-right-41
{
	padding-right:41%;
}
.dez-padding-right-42
{
	padding-right:42%;
}
.dez-padding-right-43
{
	padding-right:43%;
}
.dez-padding-right-44
{
	padding-right:44%;
}
.dez-padding-right-45
{
	padding-right:45%;
}
.dez-padding-right-46
{
	padding-right:46%;
}
.dez-padding-right-47
{
	padding-right:47%;
}
.dez-padding-right-48
{
	padding-right:48%;
}
.dez-padding-right-49
{
	padding-right:49%;
}
.dez-padding-right-50
{
	padding-right:50%;
}
.dez-padding-right-51
{
	padding-right:51%;
}
.dez-padding-right-52
{
	padding-right:52%;
}
.dez-padding-right-53
{
	padding-right:53%;
}
.dez-padding-right-54
{
	padding-right:54%;
}
.dez-padding-right-55
{
	padding-right:55%;
}
.dez-padding-right-56
{
	padding-right:56%;
}
.dez-padding-right-57
{
	padding-right:57%;
}
.dez-padding-right-58
{
	padding-right:58%;
}
.dez-padding-right-59
{
	padding-right:59%;
}
.dez-padding-right-60
{
	padding-right:60%;
}
.dez-padding-right-61
{
	padding-right:61%;
}
.dez-padding-right-62
{
	padding-right:62%;
}
.dez-padding-right-63
{
	padding-right:63%;
}
.dez-padding-right-64
{
	padding-right:64%;
}
.dez-padding-right-65
{
	padding-right:65%;
}
.dez-padding-right-66
{
	padding-right:66%;
}
.dez-padding-right-67
{
	padding-right:67%;
}
.dez-padding-right-68
{
	padding-right:68%;
}
.dez-padding-right-69
{
	padding-right:69%;
}
.dez-padding-right-70
{
	padding-right:70%;
}
.dez-padding-right-71
{
	padding-right:71%;
}
.dez-padding-right-72
{
	padding-right:72%;
}
.dez-padding-right-73
{
	padding-right:73%;
}
.dez-padding-right-74
{
	padding-right:74%;
}
.dez-padding-right-75
{
	padding-right:75%;
}
.dez-padding-right-76
{
	padding-right:76%;
}
.dez-padding-right-77
{
	padding-right:77%;
}
.dez-padding-right-78
{
	padding-right:78%;
}
.dez-padding-right-79
{
	padding-right:79%;
}
.dez-padding-right-80
{
	padding-right:80%;
}
.dez-padding-right-81
{
	padding-right:81%;
}
.dez-padding-right-82
{
	padding-right:82%;
}
.dez-padding-right-83
{
	padding-right:83%;
}
.dez-padding-right-84
{
	padding-right:84%;
}
.dez-padding-right-85
{
	padding-right:85%;
}
.dez-padding-right-86
{
	padding-right:86%;
}
.dez-padding-right-87
{
	padding-right:87%;
}
.dez-padding-right-88
{
	padding-right:88%;
}
.dez-padding-right-89
{
	padding-right:89%;
}
.dez-padding-right-90
{
	padding-right:90%;
}
.dez-padding-right-91
{
	padding-right:91%;
}
.dez-padding-right-92
{
	padding-right:92%;
}
.dez-padding-right-93
{
	padding-right:93%;
}
.dez-padding-right-94
{
	padding-right:94%;
}
.dez-padding-right-95
{
	padding-right:95%;
}
.dez-padding-right-96
{
	padding-right:96%;
}
.dez-padding-right-97
{
	padding-right:97%;
}
.dez-padding-right-98
{
	padding-right:98%;
}
.dez-padding-right-99
{
	padding-right:99%;
}
.dez-padding-right-100
{
	padding-right:100%;
}
/* ------------------------------------------------ Style COde for Top and Bottom */
.dez-padding-top-1
{
	padding-top:1%;
}
.dez-padding-top-2
{
	padding-top:2%;
}
.dez-padding-top-3
{
	padding-top:3%;
}
.dez-padding-top-4
{
	padding-top:4%;
}
.dez-padding-top-5
{
	padding-top:5%;
}
.dez-padding-top-6
{
	padding-top:6%;
}
.dez-padding-top-7
{
	padding-top:7%;
}
.dez-padding-top-8
{
	padding-top:8%;
}
.dez-padding-top-9
{
	padding-top:9%;
}
.dez-padding-top-10
{
	padding-top:10%;
}
.dez-padding-top-11
{
	padding-top:11%;
}
.dez-padding-top-12
{
	padding-top:12%;
}
.dez-padding-top-13
{
	padding-top:13%;
}
.dez-padding-top-14
{
	padding-top:14%;
}
.dez-padding-top-15
{
	padding-top:15%;
}
.dez-padding-top-16
{
	padding-top:16%;
}
.dez-padding-top-17
{
	padding-top:17%;
}
.dez-padding-top-18
{
	padding-top:18%;
}
.dez-padding-top-19
{
	padding-top:19%;
}
.dez-padding-top-20
{
	padding-top:20%;
}
.dez-padding-top-21
{
	padding-top:21%;
}
.dez-padding-top-22
{
	padding-top:22%;
}
.dez-padding-top-23
{
	padding-top:23%;
}
.dez-padding-top-24
{
	padding-top:24%;
}
.dez-padding-top-25
{
	padding-top:25%;
}
.dez-padding-top-26
{
	padding-top:26%;
}
.dez-padding-top-27
{
	padding-top:27%;
}
.dez-padding-top-28
{
	padding-top:28%;
}
.dez-padding-top-29
{
	padding-top:29%;
}
.dez-padding-top-30
{
	padding-top:30%;
}
.dez-padding-top-31
{
	padding-top:31%;
}
.dez-padding-top-32
{
	padding-top:32%;
}
.dez-padding-top-33
{
	padding-top:33%;
}
.dez-padding-top-34
{
	padding-top:34%;
}
.dez-padding-top-35
{
	padding-top:35%;
}
.dez-padding-top-36
{
	padding-top:36%;
}
.dez-padding-top-37
{
	padding-top:37%;
}
.dez-padding-top-38
{
	padding-top:38%;
}
.dez-padding-top-39
{
	padding-top:39%;
}
.dez-padding-top-40
{
	padding-top:40%;
}
.dez-padding-top-41
{
	padding-top:41%;
}
.dez-padding-top-42
{
	padding-top:42%;
}
.dez-padding-top-43
{
	padding-top:43%;
}
.dez-padding-top-44
{
	padding-top:44%;
}
.dez-padding-top-45
{
	padding-top:45%;
}
.dez-padding-top-46
{
	padding-top:46%;
}
.dez-padding-top-47
{
	padding-top:47%;
}
.dez-padding-top-48
{
	padding-top:48%;
}
.dez-padding-top-49
{
	padding-top:49%;
}
.dez-padding-top-50
{
	padding-top:50%;
}
.dez-padding-top-51
{
	padding-top:51%;
}
.dez-padding-top-52
{
	padding-top:52%;
}
.dez-padding-top-53
{
	padding-top:53%;
}
.dez-padding-top-54
{
	padding-top:54%;
}
.dez-padding-top-55
{
	padding-top:55%;
}
.dez-padding-top-56
{
	padding-top:56%;
}
.dez-padding-top-57
{
	padding-top:57%;
}
.dez-padding-top-58
{
	padding-top:58%;
}
.dez-padding-top-59
{
	padding-top:59%;
}
.dez-padding-top-60
{
	padding-top:60%;
}
.dez-padding-top-61
{
	padding-top:61%;
}
.dez-padding-top-62
{
	padding-top:62%;
}
.dez-padding-top-63
{
	padding-top:63%;
}
.dez-padding-top-64
{
	padding-top:64%;
}
.dez-padding-top-65
{
	padding-top:65%;
}
.dez-padding-top-66
{
	padding-top:66%;
}
.dez-padding-top-67
{
	padding-top:67%;
}
.dez-padding-top-68
{
	padding-top:68%;
}
.dez-padding-top-69
{
	padding-top:69%;
}
.dez-padding-top-70
{
	padding-top:70%;
}
.dez-padding-top-71
{
	padding-top:71%;
}
.dez-padding-top-72
{
	padding-top:72%;
}
.dez-padding-top-73
{
	padding-top:73%;
}
.dez-padding-top-74
{
	padding-top:74%;
}
.dez-padding-top-75
{
	padding-top:75%;
}
.dez-padding-top-76
{
	padding-top:76%;
}
.dez-padding-top-77
{
	padding-top:77%;
}
.dez-padding-top-78
{
	padding-top:78%;
}
.dez-padding-top-79
{
	padding-top:79%;
}
.dez-padding-top-80
{
	padding-top:80%;
}
.dez-padding-top-81
{
	padding-top:81%;
}
.dez-padding-top-82
{
	padding-top:82%;
}
.dez-padding-top-83
{
	padding-top:83%;
}
.dez-padding-top-84
{
	padding-top:84%;
}
.dez-padding-top-85
{
	padding-top:85%;
}
.dez-padding-top-86
{
	padding-top:86%;
}
.dez-padding-top-87
{
	padding-top:87%;
}
.dez-padding-top-88
{
	padding-top:88%;
}
.dez-padding-top-89
{
	padding-top:89%;
}
.dez-padding-top-90
{
	padding-top:90%;
}
.dez-padding-top-91
{
	padding-top:91%;
}
.dez-padding-top-92
{
	padding-top:92%;
}
.dez-padding-top-93
{
	padding-top:93%;
}
.dez-padding-top-94
{
	padding-top:94%;
}
.dez-padding-top-95
{
	padding-top:95%;
}
.dez-padding-top-96
{
	padding-top:96%;
}
.dez-padding-top-97
{
	padding-top:97%;
}
.dez-padding-top-98
{
	padding-top:98%;
}
.dez-padding-top-99
{
	padding-top:99%;
}
.dez-padding-top-100
{
	padding-top:100%;
}
/* The Style Code for padding-bottom-% starts from Here. */
.dez-padding-bottom-1
{
	padding-bottom:1%;
}
.dez-padding-bottom-2
{
	padding-bottom:2%;
}
.dez-padding-bottom-3
{
	padding-bottom:3%;
}
.dez-padding-bottom-4
{
	padding-bottom:4%;
}
.dez-padding-bottom-5
{
	padding-bottom:5%;
}
.dez-padding-bottom-6
{
	padding-bottom:6%;
}
.dez-padding-bottom-7
{
	padding-bottom:7%;
}
.dez-padding-bottom-8
{
	padding-bottom:8%;
}
.dez-padding-bottom-9
{
	padding-bottom:9%;
}
.dez-padding-bottom-10
{
	padding-bottom:10%;
}
.dez-padding-bottom-11
{
	padding-bottom:11%;
}
.dez-padding-bottom-12
{
	padding-bottom:12%;
}
.dez-padding-bottom-13
{
	padding-bottom:13%;
}
.dez-padding-bottom-14
{
	padding-bottom:14%;
}
.dez-padding-bottom-15
{
	padding-bottom:15%;
}
.dez-padding-bottom-16
{
	padding-bottom:16%;
}
.dez-padding-bottom-17
{
	padding-bottom:17%;
}
.dez-padding-bottom-18
{
	padding-bottom:18%;
}
.dez-padding-bottom-19
{
	padding-bottom:19%;
}
.dez-padding-bottom-20
{
	padding-bottom:20%;
}
.dez-padding-bottom-21
{
	padding-bottom:21%;
}
.dez-padding-bottom-22
{
	padding-bottom:22%;
}
.dez-padding-bottom-23
{
	padding-bottom:23%;
}
.dez-padding-bottom-24
{
	padding-bottom:24%;
}
.dez-padding-bottom-25
{
	padding-bottom:25%;
}
.dez-padding-bottom-26
{
	padding-bottom:26%;
}
.dez-padding-bottom-27
{
	padding-bottom:27%;
}
.dez-padding-bottom-28
{
	padding-bottom:28%;
}
.dez-padding-bottom-29
{
	padding-bottom:29%;
}
.dez-padding-bottom-30
{
	padding-bottom:30%;
}
.dez-padding-bottom-31
{
	padding-bottom:31%;
}
.dez-padding-bottom-32
{
	padding-bottom:32%;
}
.dez-padding-bottom-33
{
	padding-bottom:33%;
}
.dez-padding-bottom-34
{
	padding-bottom:34%;
}
.dez-padding-bottom-35
{
	padding-bottom:35%;
}
.dez-padding-bottom-36
{
	padding-bottom:36%;
}
.dez-padding-bottom-37
{
	padding-bottom:37%;
}
.dez-padding-bottom-38
{
	padding-bottom:38%;
}
.dez-padding-bottom-39
{
	padding-bottom:39%;
}
.dez-padding-bottom-40
{
	padding-bottom:40%;
}
.dez-padding-bottom-41
{
	padding-bottom:41%;
}
.dez-padding-bottom-42
{
	padding-bottom:42%;
}
.dez-padding-bottom-43
{
	padding-bottom:43%;
}
.dez-padding-bottom-44
{
	padding-bottom:44%;
}
.dez-padding-bottom-45
{
	padding-bottom:45%;
}
.dez-padding-bottom-46
{
	padding-bottom:46%;
}
.dez-padding-bottom-47
{
	padding-bottom:47%;
}
.dez-padding-bottom-48
{
	padding-bottom:48%;
}
.dez-padding-bottom-49
{
	padding-bottom:49%;
}
.dez-padding-bottom-50
{
	padding-bottom:50%;
}
.dez-padding-bottom-51
{
	padding-bottom:51%;
}
.dez-padding-bottom-52
{
	padding-bottom:52%;
}
.dez-padding-bottom-53
{
	padding-bottom:53%;
}
.dez-padding-bottom-54
{
	padding-bottom:54%;
}
.dez-padding-bottom-55
{
	padding-bottom:55%;
}
.dez-padding-bottom-56
{
	padding-bottom:56%;
}
.dez-padding-bottom-57
{
	padding-bottom:57%;
}
.dez-padding-bottom-58
{
	padding-bottom:58%;
}
.dez-padding-bottom-59
{
	padding-bottom:59%;
}
.dez-padding-bottom-60
{
	padding-bottom:60%;
}
.dez-padding-bottom-61
{
	padding-bottom:61%;
}
.dez-padding-bottom-62
{
	padding-bottom:62%;
}
.dez-padding-bottom-63
{
	padding-bottom:63%;
}
.dez-padding-bottom-64
{
	padding-bottom:64%;
}
.dez-padding-bottom-65
{
	padding-bottom:65%;
}
.dez-padding-bottom-66
{
	padding-bottom:66%;
}
.dez-padding-bottom-67
{
	padding-bottom:67%;
}
.dez-padding-bottom-68
{
	padding-bottom:68%;
}
.dez-padding-bottom-69
{
	padding-bottom:69%;
}
.dez-padding-bottom-70
{
	padding-bottom:70%;
}
.dez-padding-bottom-71
{
	padding-bottom:71%;
}
.dez-padding-bottom-72
{
	padding-bottom:72%;
}
.dez-padding-bottom-73
{
	padding-bottom:73%;
}
.dez-padding-bottom-74
{
	padding-bottom:74%;
}
.dez-padding-bottom-75
{
	padding-bottom:75%;
}
.dez-padding-bottom-76
{
	padding-bottom:76%;
}
.dez-padding-bottom-77
{
	padding-bottom:77%;
}
.dez-padding-bottom-78
{
	padding-bottom:78%;
}
.dez-padding-bottom-79
{
	padding-bottom:79%;
}
.dez-padding-bottom-80
{
	padding-bottom:80%;
}
.dez-padding-bottom-81
{
	padding-bottom:81%;
}
.dez-padding-bottom-82
{
	padding-bottom:82%;
}
.dez-padding-bottom-83
{
	padding-bottom:83%;
}
.dez-padding-bottom-84
{
	padding-bottom:84%;
}
.dez-padding-bottom-85
{
	padding-bottom:85%;
}
.dez-padding-bottom-86
{
	padding-bottom:86%;
}
.dez-padding-bottom-87
{
	padding-bottom:87%;
}
.dez-padding-bottom-88
{
	padding-bottom:88%;
}
.dez-padding-bottom-89
{
	padding-bottom:89%;
}
.dez-padding-bottom-90
{
	padding-bottom:90%;
}
.dez-padding-bottom-91
{
	padding-bottom:91%;
}
.dez-padding-bottom-92
{
	padding-bottom:92%;
}
.dez-padding-bottom-93
{
	padding-bottom:93%;
}
.dez-padding-bottom-94
{
	padding-bottom:94%;
}
.dez-padding-bottom-95
{
	padding-bottom:95%;
}
.dez-padding-bottom-96
{
	padding-bottom:96%;
}
.dez-padding-bottom-97
{
	padding-bottom:97%;
}
.dez-padding-bottom-98
{
	padding-bottom:98%;
}
.dez-padding-bottom-99
{
	padding-bottom:99%;
}
.dez-padding-bottom-100
{
	padding-bottom:100%;
}

/* ----------------------------------------------------- padding style starts from here */
.dez-padding-1
{
	padding:1%;
}
.dez-padding-2
{
	padding:2%;
}
.dez-padding-3
{
	padding:3%;
}
.dez-padding-4
{
	padding:4%;
}
.dez-padding-5
{
	padding:5%;
}
.dez-padding-6
{
	padding:6%;
}
.dez-padding-7
{
	padding:7%;
}
.dez-padding-8
{
	padding:8%;
}
.dez-padding-9
{
	padding:9%;
}
.dez-padding-10
{
	padding:10%;
}
.dez-padding-11
{
	padding:11%;
}
.dez-padding-12
{
	padding:12%;
}
.dez-padding-13
{
	padding:13%;
}
.dez-padding-14
{
	padding:14%;
}
.dez-padding-15
{
	padding:15%;
}
.dez-padding-16
{
	padding:16%;
}
.dez-padding-17
{
	padding:17%;
}
.dez-padding-18
{
	padding:18%;
}
.dez-padding-19
{
	padding:19%;
}
.dez-padding-20
{
	padding:20%;
}
.dez-padding-21
{
	padding:21%;
}
.dez-padding-22
{
	padding:22%;
}
.dez-padding-23
{
	padding:23%;
}
.dez-padding-24
{
	padding:24%;
}
.dez-padding-25
{
	padding:25%;
}
.dez-padding-26
{
	padding:26%;
}
.dez-padding-27
{
	padding:27%;
}
.dez-padding-28
{
	padding:28%;
}
.dez-padding-29
{
	padding:29%;
}
.dez-padding-30
{
	padding:30%;
}
.dez-padding-31
{
	padding:31%;
}
.dez-padding-32
{
	padding:32%;
}
.dez-padding-33
{
	padding:33%;
}
.dez-padding-34
{
	padding:34%;
}
.dez-padding-35
{
	padding:35%;
}
.dez-padding-36
{
	padding:36%;
}
.dez-padding-37
{
	padding:37%;
}
.dez-padding-38
{
	padding:38%;
}
.dez-padding-39
{
	padding:39%;
}
.dez-padding-40
{
	padding:40%;
}
.dez-padding-41
{
	padding:41%;
}
.dez-padding-42
{
	padding:42%;
}
.dez-padding-43
{
	padding:43%;
}
.dez-padding-44
{
	padding:44%;
}
.dez-padding-45
{
	padding:45%;
}
.dez-padding-46
{
	padding:46%;
}
.dez-padding-47
{
	padding:47%;
}
.dez-padding-48
{
	padding:48%;
}
.dez-padding-49
{
	padding:49%;
}
.dez-padding-50
{
	padding:50%;
}
.dez-padding-51
{
	padding:51%;
}
.dez-padding-52
{
	padding:52%;
}
.dez-padding-53
{
	padding:53%;
}
.dez-padding-54
{
	padding:54%;
}
.dez-padding-55
{
	padding:55%;
}
.dez-padding-56
{
	padding:56%;
}
.dez-padding-57
{
	padding:57%;
}
.dez-padding-58
{
	padding:58%;
}
.dez-padding-59
{
	padding:59%;
}
.dez-padding-60
{
	padding:60%;
}
.dez-padding-61
{
	padding:61%;
}
.dez-padding-62
{
	padding:62%;
}
.dez-padding-63
{
	padding:63%;
}
.dez-padding-64
{
	padding:64%;
}
.dez-padding-65
{
	padding:65%;
}
.dez-padding-66
{
	padding:66%;
}
.dez-padding-67
{
	padding:67%;
}
.dez-padding-68
{
	padding:68%;
}
.dez-padding-69
{
	padding:69%;
}
.dez-padding-70
{
	padding:70%;
}
.dez-padding-71
{
	padding:71%;
}
.dez-padding-72
{
	padding:72%;
}
.dez-padding-73
{
	padding:73%;
}
.dez-padding-74
{
	padding:74%;
}
.dez-padding-75
{
	padding:75%;
}
.dez-padding-76
{
	padding:76%;
}
.dez-padding-77
{
	padding:77%;
}
.dez-padding-78
{
	padding:78%;
}
.dez-padding-79
{
	padding:79%;
}
.dez-padding-80
{
	padding:80%;
}
.dez-padding-81
{
	padding:81%;
}
.dez-padding-82
{
	padding:82%;
}
.dez-padding-83
{
	padding:83%;
}
.dez-padding-84
{
	padding:84%;
}
.dez-padding-85
{
	padding:85%;
}
.dez-padding-86
{
	padding:86%;
}
.dez-padding-87
{
	padding:87%;
}
.dez-padding-88
{
	padding:88%;
}
.dez-padding-89
{
	padding:89%;
}
.dez-padding-90
{
	padding:90%;
}
.dez-padding-91
{
	padding:91%;
}
.dez-padding-92
{
	padding:92%;
}
.dez-padding-93
{
	padding:93%;
}
.dez-padding-94
{
	padding:94%;
}
.dez-padding-95
{
	padding:95%;
}
.dez-padding-96
{
	padding:96%;
}
.dez-padding-97
{
	padding:97%;
}
.dez-padding-98
{
	padding:98%;
}
.dez-padding-99
{
	padding:99%;
}
.dez-padding-100
{
	padding:100%;
}

@media only screen and (min-width:360px) and (max-width:640px) and (orientation:portrait)
{
	.dez-padding-left-1,.dez-padding-left-2.dez-padding-left-3,.dez-padding-left-4,.dez-padding-left-5,.dez-padding-left-6,.dez-padding-left-7,.dez-padding-left-8,.dez-padding-left-9,.dez-padding-left-10,.dez-padding-left-11,.dez-padding-left-12,.dez-padding-left-13,.dez-padding-left-14,.dez-padding-left-15,.dez-padding-left-16,.dez-padding-left-17,.dez-padding-left-18,.dez-padding-left-19,.dez-padding-left-20,.dez-padding-left-21,.dez-padding-left-22,.dez-padding-left-23,.dez-padding-left-24,.dez-padding-left-25,.dez-padding-left-26,.dez-padding-left-27,.dez-padding-left-28,.dez-padding-left-29,.dez-padding-left-30,.dez-padding-left-31,.dez-padding-left-32,.dez-padding-left-33,.dez-padding-left-34,.dez-padding-left-35,.dez-padding-left-36,.dez-padding-left-37,.dez-padding-left-38,.dez-padding-left-39,.dez-padding-left-40,.dez-padding-left-41,.dez-padding-left-42,.dez-padding-left-43,.dez-padding-left-44,.dez-padding-left-45,.dez-padding-left-46,.dez-padding-left-47,.dez-padding-left-48,.dez-padding-left-49,.dez-padding-left-50,.dez-padding-left-51,.dez-padding-left-52,.dez-padding-left-53,.dez-padding-left-54,.dez-padding-left-55,.dez-padding-left-56,.dez-padding-left-57,.dez-padding-left-58,.dez-padding-left-59,.dez-padding-left-60,.dez-padding-left-61,.dez-padding-left-62,.dez-padding-left-63,.dez-padding-left-64,.dez-padding-left-65,.dez-padding-left-66,.dez-padding-left-67,.dez-padding-left-68,.dez-padding-left-69,.dez-padding-left-70,.dez-padding-left-71,.dez-padding-left-72,.dez-padding-left-73,.dez-padding-left-74,.dez-padding-left-75,.dez-padding-left-76,.dez-padding-left-77,.dez-padding-left-78,.dez-padding-left-79,.dez-padding-left-80,.dez-padding-left-81,.dez-padding-left-82,.dez-padding-left-83,.dez-padding-left-84,.dez-padding-left-85,.dez-padding-left-86,.dez-padding-left-87,.dez-padding-left-88,.dez-padding-left-89,.dez-padding-left-90,.dez-padding-left-91,.dez-padding-left-92,.dez-padding-left-93,.dez-padding-left-94,.dez-padding-left-95,.dez-padding-left-96,.dez-padding-left-97,.dez-padding-left-98,.dez-padding-left-99,.dez-padding-left-100
	{
		padding-left:0%;
	}
	.dez-padding-right-1,.dez-padding-right-2.dez-padding-right-3,.dez-padding-right-4,.dez-padding-right-5,.dez-padding-right-6,.dez-padding-right-7,.dez-padding-right-8,.dez-padding-right-9,.dez-padding-right-10,.dez-padding-right-11,.dez-padding-right-12,.dez-padding-right-13,.dez-padding-right-14,.dez-padding-right-15,.dez-padding-right-16,.dez-padding-right-17,.dez-padding-right-18,.dez-padding-right-19,.dez-padding-right-20,.dez-padding-right-21,.dez-padding-right-22,.dez-padding-right-23,.dez-padding-right-24,.dez-padding-right-25,.dez-padding-right-26,.dez-padding-right-27,.dez-padding-right-28,.dez-padding-right-29,.dez-padding-right-30,.dez-padding-right-31,.dez-padding-right-32,.dez-padding-right-33,.dez-padding-right-34,.dez-padding-right-35,.dez-padding-right-36,.dez-padding-right-37,.dez-padding-right-38,.dez-padding-right-39,.dez-padding-right-40,.dez-padding-right-41,.dez-padding-right-42,.dez-padding-right-43,.dez-padding-right-44,.dez-padding-right-45,.dez-padding-right-46,.dez-padding-right-47,.dez-padding-right-48,.dez-padding-right-49,.dez-padding-right-50,.dez-padding-right-51,.dez-padding-right-52,.dez-padding-right-53,.dez-padding-right-54,.dez-padding-right-55,.dez-padding-right-56,.dez-padding-right-57,.dez-padding-right-58,.dez-padding-right-59,.dez-padding-right-60,.dez-padding-right-61,.dez-padding-right-62,.dez-padding-right-63,.dez-padding-right-64,.dez-padding-right-65,.dez-padding-right-66,.dez-padding-right-67,.dez-padding-right-68,.dez-padding-right-69,.dez-padding-right-70,.dez-padding-right-71,.dez-padding-right-72,.dez-padding-right-73,.dez-padding-right-74,.dez-padding-right-75,.dez-padding-right-76,.dez-padding-right-77,.dez-padding-right-78,.dez-padding-right-79,.dez-padding-right-80,.dez-padding-right-81,.dez-padding-right-82,.dez-padding-right-83,.dez-padding-right-84,.dez-padding-right-85,.dez-padding-right-86,.dez-padding-right-87,.dez-padding-right-88,.dez-padding-right-89,.dez-padding-right-90,.dez-padding-right-91,.dez-padding-right-92,.dez-padding-right-93,.dez-padding-right-94,.dez-padding-right-95,.dez-padding-right-96,.dez-padding-right-97,.dez-padding-right-98,.dez-padding-right-99,.dez-padding-right-100
	{
		padding-right:0%;
	}
	.dez-padding-top-1,.dez-padding-top-2.dez-padding-top-3,.dez-padding-top-4,.dez-padding-top-5,.dez-padding-top-6,.dez-padding-top-7,.dez-padding-top-8,.dez-padding-top-9,.dez-padding-top-10,.dez-padding-top-11,.dez-padding-top-12,.dez-padding-top-13,.dez-padding-top-14,.dez-padding-top-15,.dez-padding-top-16,.dez-padding-top-17,.dez-padding-top-18,.dez-padding-top-19,.dez-padding-top-20,.dez-padding-top-21,.dez-padding-top-22,.dez-padding-top-23,.dez-padding-top-24,.dez-padding-top-25,.dez-padding-top-26,.dez-padding-top-27,.dez-padding-top-28,.dez-padding-top-29,.dez-padding-top-30,.dez-padding-top-31,.dez-padding-top-32,.dez-padding-top-33,.dez-padding-top-34,.dez-padding-top-35,.dez-padding-top-36,.dez-padding-top-37,.dez-padding-top-38,.dez-padding-top-39,.dez-padding-top-40,.dez-padding-top-41,.dez-padding-top-42,.dez-padding-top-43,.dez-padding-top-44,.dez-padding-top-45,.dez-padding-top-46,.dez-padding-top-47,.dez-padding-top-48,.dez-padding-top-49,.dez-padding-top-50,.dez-padding-top-51,.dez-padding-top-52,.dez-padding-top-53,.dez-padding-top-54,.dez-padding-top-55,.dez-padding-top-56,.dez-padding-top-57,.dez-padding-top-58,.dez-padding-top-59,.dez-padding-top-60,.dez-padding-top-61,.dez-padding-top-62,.dez-padding-top-63,.dez-padding-top-64,.dez-padding-top-65,.dez-padding-top-66,.dez-padding-top-67,.dez-padding-top-68,.dez-padding-top-69,.dez-padding-top-70,.dez-padding-top-71,.dez-padding-top-72,.dez-padding-top-73,.dez-padding-top-74,.dez-padding-top-75,.dez-padding-top-76,.dez-padding-top-77,.dez-padding-top-78,.dez-padding-top-79,.dez-padding-top-80,.dez-padding-top-81,.dez-padding-top-82,.dez-padding-top-83,.dez-padding-top-84,.dez-padding-top-85,.dez-padding-top-86,.dez-padding-top-87,.dez-padding-top-88,.dez-padding-top-89,.dez-padding-top-90,.dez-padding-top-91,.dez-padding-top-92,.dez-padding-top-93,.dez-padding-top-94,.dez-padding-top-95,.dez-padding-top-96,.dez-padding-top-97,.dez-padding-top-98,.dez-padding-top-99,.dez-padding-top-100
	{
		padding-top:0%;
	}
	.dez-padding-bottom-1,.dez-padding-bottom-2.dez-padding-bottom-3,.dez-padding-bottom-4,.dez-padding-bottom-5,.dez-padding-bottom-6,.dez-padding-bottom-7,.dez-padding-bottom-8,.dez-padding-bottom-9,.dez-padding-bottom-10,.dez-padding-bottom-11,.dez-padding-bottom-12,.dez-padding-bottom-13,.dez-padding-bottom-14,.dez-padding-bottom-15,.dez-padding-bottom-16,.dez-padding-bottom-17,.dez-padding-bottom-18,.dez-padding-bottom-19,.dez-padding-bottom-20,.dez-padding-bottom-21,.dez-padding-bottom-22,.dez-padding-bottom-23,.dez-padding-bottom-24,.dez-padding-bottom-25,.dez-padding-bottom-26,.dez-padding-bottom-27,.dez-padding-bottom-28,.dez-padding-bottom-29,.dez-padding-bottom-30,.dez-padding-bottom-31,.dez-padding-bottom-32,.dez-padding-bottom-33,.dez-padding-bottom-34,.dez-padding-bottom-35,.dez-padding-bottom-36,.dez-padding-bottom-37,.dez-padding-bottom-38,.dez-padding-bottom-39,.dez-padding-bottom-40,.dez-padding-bottom-41,.dez-padding-bottom-42,.dez-padding-bottom-43,.dez-padding-bottom-44,.dez-padding-bottom-45,.dez-padding-bottom-46,.dez-padding-bottom-47,.dez-padding-bottom-48,.dez-padding-bottom-49,.dez-padding-bottom-50,.dez-padding-bottom-51,.dez-padding-bottom-52,.dez-padding-bottom-53,.dez-padding-bottom-54,.dez-padding-bottom-55,.dez-padding-bottom-56,.dez-padding-bottom-57,.dez-padding-bottom-58,.dez-padding-bottom-59,.dez-padding-bottom-60,.dez-padding-bottom-61,.dez-padding-bottom-62,.dez-padding-bottom-63,.dez-padding-bottom-64,.dez-padding-bottom-65,.dez-padding-bottom-66,.dez-padding-bottom-67,.dez-padding-bottom-68,.dez-padding-bottom-69,.dez-padding-bottom-70,.dez-padding-bottom-71,.dez-padding-bottom-72,.dez-padding-bottom-73,.dez-padding-bottom-74,.dez-padding-bottom-75,.dez-padding-bottom-76,.dez-padding-bottom-77,.dez-padding-bottom-78,.dez-padding-bottom-79,.dez-padding-bottom-80,.dez-padding-bottom-81,.dez-padding-bottom-82,.dez-padding-bottom-83,.dez-padding-bottom-84,.dez-padding-bottom-85,.dez-padding-bottom-86,.dez-padding-bottom-87,.dez-padding-bottom-88,.dez-padding-bottom-89,.dez-padding-bottom-90,.dez-padding-bottom-91,.dez-padding-bottom-92,.dez-padding-bottom-93,.dez-padding-bottom-94,.dez-padding-bottom-95,.dez-padding-bottom-96,.dez-padding-bottom-97,.dez-padding-bottom-98,.dez-padding-bottom-99,.dez-padding-bottom-100
	{
		padding-bottom:0%;
	}
	
	.dez-mobile-padding-left-1
{
	padding-left:1%;
}
.dez-mobile-padding-left-2
{
	padding-left:2%;
}
.dez-mobile-padding-left-3
{
	padding-left:3%;
}
.dez-mobile-padding-left-4
{
	padding-left:4%;
}
.dez-mobile-padding-left-5
{
	padding-left:5%;
}
.dez-mobile-padding-left-6
{
	padding-left:6%;
}
.dez-mobile-padding-left-7
{
	padding-left:7%;
}
.dez-mobile-padding-left-8
{
	padding-left:8%;
}
.dez-mobile-padding-left-9
{
	padding-left:9%;
}
.dez-mobile-padding-left-10
{
	padding-left:10%;
}
.dez-mobile-padding-left-11
{
	padding-left:11%;
}
.dez-mobile-padding-left-12
{
	padding-left:12%;
}
.dez-mobile-padding-left-13
{
	padding-left:13%;
}
.dez-mobile-padding-left-14
{
	padding-left:14%;
}
.dez-mobile-padding-left-15
{
	padding-left:15%;
}
.dez-mobile-padding-left-16
{
	padding-left:16%;
}
.dez-mobile-padding-left-17
{
	padding-left:17%;
}
.dez-mobile-padding-left-18
{
	padding-left:18%;
}
.dez-mobile-padding-left-19
{
	padding-left:19%;
}
.dez-mobile-padding-left-20
{
	padding-left:20%;
}
.dez-mobile-padding-left-21
{
	padding-left:21%;
}
.dez-mobile-padding-left-22
{
	padding-left:22%;
}
.dez-mobile-padding-left-23
{
	padding-left:23%;
}
.dez-mobile-padding-left-24
{
	padding-left:24%;
}
.dez-mobile-padding-left-25
{
	padding-left:25%;
}
.dez-mobile-padding-left-26
{
	padding-left:26%;
}
.dez-mobile-padding-left-27
{
	padding-left:27%;
}
.dez-mobile-padding-left-28
{
	padding-left:28%;
}
.dez-mobile-padding-left-29
{
	padding-left:29%;
}
.dez-mobile-padding-left-30
{
	padding-left:30%;
}
.dez-mobile-padding-left-31
{
	padding-left:31%;
}
.dez-mobile-padding-left-32
{
	padding-left:32%;
}
.dez-mobile-padding-left-33
{
	padding-left:33%;
}
.dez-mobile-padding-left-34
{
	padding-left:34%;
}
.dez-mobile-padding-left-35
{
	padding-left:35%;
}
.dez-mobile-padding-left-36
{
	padding-left:36%;
}
.dez-mobile-padding-left-37
{
	padding-left:37%;
}
.dez-mobile-padding-left-38
{
	padding-left:38%;
}
.dez-mobile-padding-left-39
{
	padding-left:39%;
}
.dez-mobile-padding-left-40
{
	padding-left:40%;
}
.dez-mobile-padding-left-41
{
	padding-left:41%;
}
.dez-mobile-padding-left-42
{
	padding-left:42%;
}
.dez-mobile-padding-left-43
{
	padding-left:43%;
}
.dez-mobile-padding-left-44
{
	padding-left:44%;
}
.dez-mobile-padding-left-45
{
	padding-left:45%;
}
.dez-mobile-padding-left-46
{
	padding-left:46%;
}
.dez-mobile-padding-left-47
{
	padding-left:47%;
}
.dez-mobile-padding-left-48
{
	padding-left:48%;
}
.dez-mobile-padding-left-49
{
	padding-left:49%;
}
.dez-mobile-padding-left-50
{
	padding-left:50%;
}
.dez-mobile-padding-left-51
{
	padding-left:51%;
}
.dez-mobile-padding-left-52
{
	padding-left:52%;
}
.dez-mobile-padding-left-53
{
	padding-left:53%;
}
.dez-mobile-padding-left-54
{
	padding-left:54%;
}
.dez-mobile-padding-left-55
{
	padding-left:55%;
}
.dez-mobile-padding-left-56
{
	padding-left:56%;
}
.dez-mobile-padding-left-57
{
	padding-left:57%;
}
.dez-mobile-padding-left-58
{
	padding-left:58%;
}
.dez-mobile-padding-left-59
{
	padding-left:59%;
}
.dez-mobile-padding-left-60
{
	padding-left:60%;
}
.dez-mobile-padding-left-61
{
	padding-left:61%;
}
.dez-mobile-padding-left-62
{
	padding-left:62%;
}
.dez-mobile-padding-left-63
{
	padding-left:63%;
}
.dez-mobile-padding-left-64
{
	padding-left:64%;
}
.dez-mobile-padding-left-65
{
	padding-left:65%;
}
.dez-mobile-padding-left-66
{
	padding-left:66%;
}
.dez-mobile-padding-left-67
{
	padding-left:67%;
}
.dez-mobile-padding-left-68
{
	padding-left:68%;
}
.dez-mobile-padding-left-69
{
	padding-left:69%;
}
.dez-mobile-padding-left-70
{
	padding-left:70%;
}
.dez-mobile-padding-left-71
{
	padding-left:71%;
}
.dez-mobile-padding-left-72
{
	padding-left:72%;
}
.dez-mobile-padding-left-73
{
	padding-left:73%;
}
.dez-mobile-padding-left-74
{
	padding-left:74%;
}
.dez-mobile-padding-left-75
{
	padding-left:75%;
}
.dez-mobile-padding-left-76
{
	padding-left:76%;
}
.dez-mobile-padding-left-77
{
	padding-left:77%;
}
.dez-mobile-padding-left-78
{
	padding-left:78%;
}
.dez-mobile-padding-left-79
{
	padding-left:79%;
}
.dez-mobile-padding-left-80
{
	padding-left:80%;
}
.dez-mobile-padding-left-81
{
	padding-left:81%;
}
.dez-mobile-padding-left-82
{
	padding-left:82%;
}
.dez-mobile-padding-left-83
{
	padding-left:83%;
}
.dez-mobile-padding-left-84
{
	padding-left:84%;
}
.dez-mobile-padding-left-85
{
	padding-left:85%;
}
.dez-mobile-padding-left-86
{
	padding-left:86%;
}
.dez-mobile-padding-left-87
{
	padding-left:87%;
}
.dez-mobile-padding-left-88
{
	padding-left:88%;
}
.dez-mobile-padding-left-89
{
	padding-left:89%;
}
.dez-mobile-padding-left-90
{
	padding-left:90%;
}
.dez-mobile-padding-left-91
{
	padding-left:91%;
}
.dez-mobile-padding-left-92
{
	padding-left:92%;
}
.dez-mobile-padding-left-93
{
	padding-left:93%;
}
.dez-mobile-padding-left-94
{
	padding-left:94%;
}
.dez-mobile-padding-left-95
{
	padding-left:95%;
}
.dez-mobile-padding-left-96
{
	padding-left:96%;
}
.dez-mobile-padding-left-97
{
	padding-left:97%;
}
.dez-mobile-padding-left-98
{
	padding-left:98%;
}
.dez-mobile-padding-left-99
{
	padding-left:99%;
}
.dez-mobile-padding-left-100
{
	padding-left:100%;
}
/* The Style Code for padding-right-% starts from Here. */
.dez-mobile-padding-right-1
{
	padding-right:1%;
}
.dez-mobile-padding-right-2
{
	padding-right:2%;
}
.dez-mobile-padding-right-3
{
	padding-right:3%;
}
.dez-mobile-padding-right-4
{
	padding-right:4%;
}
.dez-mobile-padding-right-5
{
	padding-right:5%;
}
.dez-mobile-padding-right-6
{
	padding-right:6%;
}
.dez-mobile-padding-right-7
{
	padding-right:7%;
}
.dez-mobile-padding-right-8
{
	padding-right:8%;
}
.dez-mobile-padding-right-9
{
	padding-right:9%;
}
.dez-mobile-padding-right-10
{
	padding-right:10%;
}
.dez-mobile-padding-right-11
{
	padding-right:11%;
}
.dez-mobile-padding-right-12
{
	padding-right:12%;
}
.dez-mobile-padding-right-13
{
	padding-right:13%;
}
.dez-mobile-padding-right-14
{
	padding-right:14%;
}
.dez-mobile-padding-right-15
{
	padding-right:15%;
}
.dez-mobile-padding-right-16
{
	padding-right:16%;
}
.dez-mobile-padding-right-17
{
	padding-right:17%;
}
.dez-mobile-padding-right-18
{
	padding-right:18%;
}
.dez-mobile-padding-right-19
{
	padding-right:19%;
}
.dez-mobile-padding-right-20
{
	padding-right:20%;
}
.dez-mobile-padding-right-21
{
	padding-right:21%;
}
.dez-mobile-padding-right-22
{
	padding-right:22%;
}
.dez-mobile-padding-right-23
{
	padding-right:23%;
}
.dez-mobile-padding-right-24
{
	padding-right:24%;
}
.dez-mobile-padding-right-25
{
	padding-right:25%;
}
.dez-mobile-padding-right-26
{
	padding-right:26%;
}
.dez-mobile-padding-right-27
{
	padding-right:27%;
}
.dez-mobile-padding-right-28
{
	padding-right:28%;
}
.dez-mobile-padding-right-29
{
	padding-right:29%;
}
.dez-mobile-padding-right-30
{
	padding-right:30%;
}
.dez-mobile-padding-right-31
{
	padding-right:31%;
}
.dez-mobile-padding-right-32
{
	padding-right:32%;
}
.dez-mobile-padding-right-33
{
	padding-right:33%;
}
.dez-mobile-padding-right-34
{
	padding-right:34%;
}
.dez-mobile-padding-right-35
{
	padding-right:35%;
}
.dez-mobile-padding-right-36
{
	padding-right:36%;
}
.dez-mobile-padding-right-37
{
	padding-right:37%;
}
.dez-mobile-padding-right-38
{
	padding-right:38%;
}
.dez-mobile-padding-right-39
{
	padding-right:39%;
}
.dez-mobile-padding-right-40
{
	padding-right:40%;
}
.dez-mobile-padding-right-41
{
	padding-right:41%;
}
.dez-mobile-padding-right-42
{
	padding-right:42%;
}
.dez-mobile-padding-right-43
{
	padding-right:43%;
}
.dez-mobile-padding-right-44
{
	padding-right:44%;
}
.dez-mobile-padding-right-45
{
	padding-right:45%;
}
.dez-mobile-padding-right-46
{
	padding-right:46%;
}
.dez-mobile-padding-right-47
{
	padding-right:47%;
}
.dez-mobile-padding-right-48
{
	padding-right:48%;
}
.dez-mobile-padding-right-49
{
	padding-right:49%;
}
.dez-mobile-padding-right-50
{
	padding-right:50%;
}
.dez-mobile-padding-right-51
{
	padding-right:51%;
}
.dez-mobile-padding-right-52
{
	padding-right:52%;
}
.dez-mobile-padding-right-53
{
	padding-right:53%;
}
.dez-mobile-padding-right-54
{
	padding-right:54%;
}
.dez-mobile-padding-right-55
{
	padding-right:55%;
}
.dez-mobile-padding-right-56
{
	padding-right:56%;
}
.dez-mobile-padding-right-57
{
	padding-right:57%;
}
.dez-mobile-padding-right-58
{
	padding-right:58%;
}
.dez-mobile-padding-right-59
{
	padding-right:59%;
}
.dez-mobile-padding-right-60
{
	padding-right:60%;
}
.dez-mobile-padding-right-61
{
	padding-right:61%;
}
.dez-mobile-padding-right-62
{
	padding-right:62%;
}
.dez-mobile-padding-right-63
{
	padding-right:63%;
}
.dez-mobile-padding-right-64
{
	padding-right:64%;
}
.dez-mobile-padding-right-65
{
	padding-right:65%;
}
.dez-mobile-padding-right-66
{
	padding-right:66%;
}
.dez-mobile-padding-right-67
{
	padding-right:67%;
}
.dez-mobile-padding-right-68
{
	padding-right:68%;
}
.dez-mobile-padding-right-69
{
	padding-right:69%;
}
.dez-mobile-padding-right-70
{
	padding-right:70%;
}
.dez-mobile-padding-right-71
{
	padding-right:71%;
}
.dez-mobile-padding-right-72
{
	padding-right:72%;
}
.dez-mobile-padding-right-73
{
	padding-right:73%;
}
.dez-mobile-padding-right-74
{
	padding-right:74%;
}
.dez-mobile-padding-right-75
{
	padding-right:75%;
}
.dez-mobile-padding-right-76
{
	padding-right:76%;
}
.dez-mobile-padding-right-77
{
	padding-right:77%;
}
.dez-mobile-padding-right-78
{
	padding-right:78%;
}
.dez-mobile-padding-right-79
{
	padding-right:79%;
}
.dez-mobile-padding-right-80
{
	padding-right:80%;
}
.dez-mobile-padding-right-81
{
	padding-right:81%;
}
.dez-mobile-padding-right-82
{
	padding-right:82%;
}
.dez-mobile-padding-right-83
{
	padding-right:83%;
}
.dez-mobile-padding-right-84
{
	padding-right:84%;
}
.dez-mobile-padding-right-85
{
	padding-right:85%;
}
.dez-mobile-padding-right-86
{
	padding-right:86%;
}
.dez-mobile-padding-right-87
{
	padding-right:87%;
}
.dez-mobile-padding-right-88
{
	padding-right:88%;
}
.dez-mobile-padding-right-89
{
	padding-right:89%;
}
.dez-mobile-padding-right-90
{
	padding-right:90%;
}
.dez-mobile-padding-right-91
{
	padding-right:91%;
}
.dez-mobile-padding-right-92
{
	padding-right:92%;
}
.dez-mobile-padding-right-93
{
	padding-right:93%;
}
.dez-mobile-padding-right-94
{
	padding-right:94%;
}
.dez-mobile-padding-right-95
{
	padding-right:95%;
}
.dez-mobile-padding-right-96
{
	padding-right:96%;
}
.dez-mobile-padding-right-97
{
	padding-right:97%;
}
.dez-mobile-padding-right-98
{
	padding-right:98%;
}
.dez-mobile-padding-right-99
{
	padding-right:99%;
}
.dez-mobile-padding-right-100
{
	padding-right:100%;
}
/* ------------------------------------------------ Style COde for Top and Bottom */
.dez-mobile-padding-top-1
{
	padding-top:1%;
}
.dez-mobile-padding-top-2
{
	padding-top:2%;
}
.dez-mobile-padding-top-3
{
	padding-top:3%;
}
.dez-mobile-padding-top-4
{
	padding-top:4%;
}
.dez-mobile-padding-top-5
{
	padding-top:5%;
}
.dez-mobile-padding-top-6
{
	padding-top:6%;
}
.dez-mobile-padding-top-7
{
	padding-top:7%;
}
.dez-mobile-padding-top-8
{
	padding-top:8%;
}
.dez-mobile-padding-top-9
{
	padding-top:9%;
}
.dez-mobile-padding-top-10
{
	padding-top:10%;
}
.dez-mobile-padding-top-11
{
	padding-top:11%;
}
.dez-mobile-padding-top-12
{
	padding-top:12%;
}
.dez-mobile-padding-top-13
{
	padding-top:13%;
}
.dez-mobile-padding-top-14
{
	padding-top:14%;
}
.dez-mobile-padding-top-15
{
	padding-top:15%;
}
.dez-mobile-padding-top-16
{
	padding-top:16%;
}
.dez-mobile-padding-top-17
{
	padding-top:17%;
}
.dez-mobile-padding-top-18
{
	padding-top:18%;
}
.dez-mobile-padding-top-19
{
	padding-top:19%;
}
.dez-mobile-padding-top-20
{
	padding-top:20%;
}
.dez-mobile-padding-top-21
{
	padding-top:21%;
}
.dez-mobile-padding-top-22
{
	padding-top:22%;
}
.dez-mobile-padding-top-23
{
	padding-top:23%;
}
.dez-mobile-padding-top-24
{
	padding-top:24%;
}
.dez-mobile-padding-top-25
{
	padding-top:25%;
}
.dez-mobile-padding-top-26
{
	padding-top:26%;
}
.dez-mobile-padding-top-27
{
	padding-top:27%;
}
.dez-mobile-padding-top-28
{
	padding-top:28%;
}
.dez-mobile-padding-top-29
{
	padding-top:29%;
}
.dez-mobile-padding-top-30
{
	padding-top:30%;
}
.dez-mobile-padding-top-31
{
	padding-top:31%;
}
.dez-mobile-padding-top-32
{
	padding-top:32%;
}
.dez-mobile-padding-top-33
{
	padding-top:33%;
}
.dez-mobile-padding-top-34
{
	padding-top:34%;
}
.dez-mobile-padding-top-35
{
	padding-top:35%;
}
.dez-mobile-padding-top-36
{
	padding-top:36%;
}
.dez-mobile-padding-top-37
{
	padding-top:37%;
}
.dez-mobile-padding-top-38
{
	padding-top:38%;
}
.dez-mobile-padding-top-39
{
	padding-top:39%;
}
.dez-mobile-padding-top-40
{
	padding-top:40%;
}
.dez-mobile-padding-top-41
{
	padding-top:41%;
}
.dez-mobile-padding-top-42
{
	padding-top:42%;
}
.dez-mobile-padding-top-43
{
	padding-top:43%;
}
.dez-mobile-padding-top-44
{
	padding-top:44%;
}
.dez-mobile-padding-top-45
{
	padding-top:45%;
}
.dez-mobile-padding-top-46
{
	padding-top:46%;
}
.dez-mobile-padding-top-47
{
	padding-top:47%;
}
.dez-mobile-padding-top-48
{
	padding-top:48%;
}
.dez-mobile-padding-top-49
{
	padding-top:49%;
}
.dez-mobile-padding-top-50
{
	padding-top:50%;
}
.dez-mobile-padding-top-51
{
	padding-top:51%;
}
.dez-mobile-padding-top-52
{
	padding-top:52%;
}
.dez-mobile-padding-top-53
{
	padding-top:53%;
}
.dez-mobile-padding-top-54
{
	padding-top:54%;
}
.dez-mobile-padding-top-55
{
	padding-top:55%;
}
.dez-mobile-padding-top-56
{
	padding-top:56%;
}
.dez-mobile-padding-top-57
{
	padding-top:57%;
}
.dez-mobile-padding-top-58
{
	padding-top:58%;
}
.dez-mobile-padding-top-59
{
	padding-top:59%;
}
.dez-mobile-padding-top-60
{
	padding-top:60%;
}
.dez-mobile-padding-top-61
{
	padding-top:61%;
}
.dez-mobile-padding-top-62
{
	padding-top:62%;
}
.dez-mobile-padding-top-63
{
	padding-top:63%;
}
.dez-mobile-padding-top-64
{
	padding-top:64%;
}
.dez-mobile-padding-top-65
{
	padding-top:65%;
}
.dez-mobile-padding-top-66
{
	padding-top:66%;
}
.dez-mobile-padding-top-67
{
	padding-top:67%;
}
.dez-mobile-padding-top-68
{
	padding-top:68%;
}
.dez-mobile-padding-top-69
{
	padding-top:69%;
}
.dez-mobile-padding-top-70
{
	padding-top:70%;
}
.dez-mobile-padding-top-71
{
	padding-top:71%;
}
.dez-mobile-padding-top-72
{
	padding-top:72%;
}
.dez-mobile-padding-top-73
{
	padding-top:73%;
}
.dez-mobile-padding-top-74
{
	padding-top:74%;
}
.dez-mobile-padding-top-75
{
	padding-top:75%;
}
.dez-mobile-padding-top-76
{
	padding-top:76%;
}
.dez-mobile-padding-top-77
{
	padding-top:77%;
}
.dez-mobile-padding-top-78
{
	padding-top:78%;
}
.dez-mobile-padding-top-79
{
	padding-top:79%;
}
.dez-mobile-padding-top-80
{
	padding-top:80%;
}
.dez-mobile-padding-top-81
{
	padding-top:81%;
}
.dez-mobile-padding-top-82
{
	padding-top:82%;
}
.dez-mobile-padding-top-83
{
	padding-top:83%;
}
.dez-mobile-padding-top-84
{
	padding-top:84%;
}
.dez-mobile-padding-top-85
{
	padding-top:85%;
}
.dez-mobile-padding-top-86
{
	padding-top:86%;
}
.dez-mobile-padding-top-87
{
	padding-top:87%;
}
.dez-mobile-padding-top-88
{
	padding-top:88%;
}
.dez-mobile-padding-top-89
{
	padding-top:89%;
}
.dez-mobile-padding-top-90
{
	padding-top:90%;
}
.dez-mobile-padding-top-91
{
	padding-top:91%;
}
.dez-mobile-padding-top-92
{
	padding-top:92%;
}
.dez-mobile-padding-top-93
{
	padding-top:93%;
}
.dez-mobile-padding-top-94
{
	padding-top:94%;
}
.dez-mobile-padding-top-95
{
	padding-top:95%;
}
.dez-mobile-padding-top-96
{
	padding-top:96%;
}
.dez-mobile-padding-top-97
{
	padding-top:97%;
}
.dez-mobile-padding-top-98
{
	padding-top:98%;
}
.dez-mobile-padding-top-99
{
	padding-top:99%;
}
.dez-mobile-padding-top-100
{
	padding-top:100%;
}
/* The Style Code for padding-bottom-% starts from Here. */
.dez-mobile-padding-bottom-1
{
	padding-bottom:1%;
}
.dez-mobile-padding-bottom-2
{
	padding-bottom:2%;
}
.dez-mobile-padding-bottom-3
{
	padding-bottom:3%;
}
.dez-mobile-padding-bottom-4
{
	padding-bottom:4%;
}
.dez-mobile-padding-bottom-5
{
	padding-bottom:5%;
}
.dez-mobile-padding-bottom-6
{
	padding-bottom:6%;
}
.dez-mobile-padding-bottom-7
{
	padding-bottom:7%;
}
.dez-mobile-padding-bottom-8
{
	padding-bottom:8%;
}
.dez-mobile-padding-bottom-9
{
	padding-bottom:9%;
}
.dez-mobile-padding-bottom-10
{
	padding-bottom:10%;
}
.dez-mobile-padding-bottom-11
{
	padding-bottom:11%;
}
.dez-mobile-padding-bottom-12
{
	padding-bottom:12%;
}
.dez-mobile-padding-bottom-13
{
	padding-bottom:13%;
}
.dez-mobile-padding-bottom-14
{
	padding-bottom:14%;
}
.dez-mobile-padding-bottom-15
{
	padding-bottom:15%;
}
.dez-mobile-padding-bottom-16
{
	padding-bottom:16%;
}
.dez-mobile-padding-bottom-17
{
	padding-bottom:17%;
}
.dez-mobile-padding-bottom-18
{
	padding-bottom:18%;
}
.dez-mobile-padding-bottom-19
{
	padding-bottom:19%;
}
.dez-mobile-padding-bottom-20
{
	padding-bottom:20%;
}
.dez-mobile-padding-bottom-21
{
	padding-bottom:21%;
}
.dez-mobile-padding-bottom-22
{
	padding-bottom:22%;
}
.dez-mobile-padding-bottom-23
{
	padding-bottom:23%;
}
.dez-mobile-padding-bottom-24
{
	padding-bottom:24%;
}
.dez-mobile-padding-bottom-25
{
	padding-bottom:25%;
}
.dez-mobile-padding-bottom-26
{
	padding-bottom:26%;
}
.dez-mobile-padding-bottom-27
{
	padding-bottom:27%;
}
.dez-mobile-padding-bottom-28
{
	padding-bottom:28%;
}
.dez-mobile-padding-bottom-29
{
	padding-bottom:29%;
}
.dez-mobile-padding-bottom-30
{
	padding-bottom:30%;
}
.dez-mobile-padding-bottom-31
{
	padding-bottom:31%;
}
.dez-mobile-padding-bottom-32
{
	padding-bottom:32%;
}
.dez-mobile-padding-bottom-33
{
	padding-bottom:33%;
}
.dez-mobile-padding-bottom-34
{
	padding-bottom:34%;
}
.dez-mobile-padding-bottom-35
{
	padding-bottom:35%;
}
.dez-mobile-padding-bottom-36
{
	padding-bottom:36%;
}
.dez-mobile-padding-bottom-37
{
	padding-bottom:37%;
}
.dez-mobile-padding-bottom-38
{
	padding-bottom:38%;
}
.dez-mobile-padding-bottom-39
{
	padding-bottom:39%;
}
.dez-mobile-padding-bottom-40
{
	padding-bottom:40%;
}
.dez-mobile-padding-bottom-41
{
	padding-bottom:41%;
}
.dez-mobile-padding-bottom-42
{
	padding-bottom:42%;
}
.dez-mobile-padding-bottom-43
{
	padding-bottom:43%;
}
.dez-mobile-padding-bottom-44
{
	padding-bottom:44%;
}
.dez-mobile-padding-bottom-45
{
	padding-bottom:45%;
}
.dez-mobile-padding-bottom-46
{
	padding-bottom:46%;
}
.dez-mobile-padding-bottom-47
{
	padding-bottom:47%;
}
.dez-mobile-padding-bottom-48
{
	padding-bottom:48%;
}
.dez-mobile-padding-bottom-49
{
	padding-bottom:49%;
}
.dez-mobile-padding-bottom-50
{
	padding-bottom:50%;
}
.dez-mobile-padding-bottom-51
{
	padding-bottom:51%;
}
.dez-mobile-padding-bottom-52
{
	padding-bottom:52%;
}
.dez-mobile-padding-bottom-53
{
	padding-bottom:53%;
}
.dez-mobile-padding-bottom-54
{
	padding-bottom:54%;
}
.dez-mobile-padding-bottom-55
{
	padding-bottom:55%;
}
.dez-mobile-padding-bottom-56
{
	padding-bottom:56%;
}
.dez-mobile-padding-bottom-57
{
	padding-bottom:57%;
}
.dez-mobile-padding-bottom-58
{
	padding-bottom:58%;
}
.dez-mobile-padding-bottom-59
{
	padding-bottom:59%;
}
.dez-mobile-padding-bottom-60
{
	padding-bottom:60%;
}
.dez-mobile-padding-bottom-61
{
	padding-bottom:61%;
}
.dez-mobile-padding-bottom-62
{
	padding-bottom:62%;
}
.dez-mobile-padding-bottom-63
{
	padding-bottom:63%;
}
.dez-mobile-padding-bottom-64
{
	padding-bottom:64%;
}
.dez-mobile-padding-bottom-65
{
	padding-bottom:65%;
}
.dez-mobile-padding-bottom-66
{
	padding-bottom:66%;
}
.dez-mobile-padding-bottom-67
{
	padding-bottom:67%;
}
.dez-mobile-padding-bottom-68
{
	padding-bottom:68%;
}
.dez-mobile-padding-bottom-69
{
	padding-bottom:69%;
}
.dez-mobile-padding-bottom-70
{
	padding-bottom:70%;
}
.dez-mobile-padding-bottom-71
{
	padding-bottom:71%;
}
.dez-mobile-padding-bottom-72
{
	padding-bottom:72%;
}
.dez-mobile-padding-bottom-73
{
	padding-bottom:73%;
}
.dez-mobile-padding-bottom-74
{
	padding-bottom:74%;
}
.dez-mobile-padding-bottom-75
{
	padding-bottom:75%;
}
.dez-mobile-padding-bottom-76
{
	padding-bottom:76%;
}
.dez-mobile-padding-bottom-77
{
	padding-bottom:77%;
}
.dez-mobile-padding-bottom-78
{
	padding-bottom:78%;
}
.dez-mobile-padding-bottom-79
{
	padding-bottom:79%;
}
.dez-mobile-padding-bottom-80
{
	padding-bottom:80%;
}
.dez-mobile-padding-bottom-81
{
	padding-bottom:81%;
}
.dez-mobile-padding-bottom-82
{
	padding-bottom:82%;
}
.dez-mobile-padding-bottom-83
{
	padding-bottom:83%;
}
.dez-mobile-padding-bottom-84
{
	padding-bottom:84%;
}
.dez-mobile-padding-bottom-85
{
	padding-bottom:85%;
}
.dez-mobile-padding-bottom-86
{
	padding-bottom:86%;
}
.dez-mobile-padding-bottom-87
{
	padding-bottom:87%;
}
.dez-mobile-padding-bottom-88
{
	padding-bottom:88%;
}
.dez-mobile-padding-bottom-89
{
	padding-bottom:89%;
}
.dez-mobile-padding-bottom-90
{
	padding-bottom:90%;
}
.dez-mobile-padding-bottom-91
{
	padding-bottom:91%;
}
.dez-mobile-padding-bottom-92
{
	padding-bottom:92%;
}
.dez-mobile-padding-bottom-93
{
	padding-bottom:93%;
}
.dez-mobile-padding-bottom-94
{
	padding-bottom:94%;
}
.dez-mobile-padding-bottom-95
{
	padding-bottom:95%;
}
.dez-mobile-padding-bottom-96
{
	padding-bottom:96%;
}
.dez-mobile-padding-bottom-97
{
	padding-bottom:97%;
}
.dez-mobile-padding-bottom-98
{
	padding-bottom:98%;
}
.dez-mobile-padding-bottom-99
{
	padding-bottom:99%;
}
.dez-mobile-padding-bottom-100
{
	padding-bottom:100%;
}

/* ----------------------------------------------------- padding style starts from here */
.dez-mobile-padding-1
{
	padding:1%;
}
.dez-mobile-padding-2
{
	padding:2%;
}
.dez-mobile-padding-3
{
	padding:3%;
}
.dez-mobile-padding-4
{
	padding:4%;
}
.dez-mobile-padding-5
{
	padding:5%;
}
.dez-mobile-padding-6
{
	padding:6%;
}
.dez-mobile-padding-7
{
	padding:7%;
}
.dez-mobile-padding-8
{
	padding:8%;
}
.dez-mobile-padding-9
{
	padding:9%;
}
.dez-mobile-padding-10
{
	padding:10%;
}
.dez-mobile-padding-11
{
	padding:11%;
}
.dez-mobile-padding-12
{
	padding:12%;
}
.dez-mobile-padding-13
{
	padding:13%;
}
.dez-mobile-padding-14
{
	padding:14%;
}
.dez-mobile-padding-15
{
	padding:15%;
}
.dez-mobile-padding-16
{
	padding:16%;
}
.dez-mobile-padding-17
{
	padding:17%;
}
.dez-mobile-padding-18
{
	padding:18%;
}
.dez-mobile-padding-19
{
	padding:19%;
}
.dez-mobile-padding-20
{
	padding:20%;
}
.dez-mobile-padding-21
{
	padding:21%;
}
.dez-mobile-padding-22
{
	padding:22%;
}
.dez-mobile-padding-23
{
	padding:23%;
}
.dez-mobile-padding-24
{
	padding:24%;
}
.dez-mobile-padding-25
{
	padding:25%;
}
.dez-mobile-padding-26
{
	padding:26%;
}
.dez-mobile-padding-27
{
	padding:27%;
}
.dez-mobile-padding-28
{
	padding:28%;
}
.dez-mobile-padding-29
{
	padding:29%;
}
.dez-mobile-padding-30
{
	padding:30%;
}
.dez-mobile-padding-31
{
	padding:31%;
}
.dez-mobile-padding-32
{
	padding:32%;
}
.dez-mobile-padding-33
{
	padding:33%;
}
.dez-mobile-padding-34
{
	padding:34%;
}
.dez-mobile-padding-35
{
	padding:35%;
}
.dez-mobile-padding-36
{
	padding:36%;
}
.dez-mobile-padding-37
{
	padding:37%;
}
.dez-mobile-padding-38
{
	padding:38%;
}
.dez-mobile-padding-39
{
	padding:39%;
}
.dez-mobile-padding-40
{
	padding:40%;
}
.dez-mobile-padding-41
{
	padding:41%;
}
.dez-mobile-padding-42
{
	padding:42%;
}
.dez-mobile-padding-43
{
	padding:43%;
}
.dez-mobile-padding-44
{
	padding:44%;
}
.dez-mobile-padding-45
{
	padding:45%;
}
.dez-mobile-padding-46
{
	padding:46%;
}
.dez-mobile-padding-47
{
	padding:47%;
}
.dez-mobile-padding-48
{
	padding:48%;
}
.dez-mobile-padding-49
{
	padding:49%;
}
.dez-mobile-padding-50
{
	padding:50%;
}
.dez-mobile-padding-51
{
	padding:51%;
}
.dez-mobile-padding-52
{
	padding:52%;
}
.dez-mobile-padding-53
{
	padding:53%;
}
.dez-mobile-padding-54
{
	padding:54%;
}
.dez-mobile-padding-55
{
	padding:55%;
}
.dez-mobile-padding-56
{
	padding:56%;
}
.dez-mobile-padding-57
{
	padding:57%;
}
.dez-mobile-padding-58
{
	padding:58%;
}
.dez-mobile-padding-59
{
	padding:59%;
}
.dez-mobile-padding-60
{
	padding:60%;
}
.dez-mobile-padding-61
{
	padding:61%;
}
.dez-mobile-padding-62
{
	padding:62%;
}
.dez-mobile-padding-63
{
	padding:63%;
}
.dez-mobile-padding-64
{
	padding:64%;
}
.dez-mobile-padding-65
{
	padding:65%;
}
.dez-mobile-padding-66
{
	padding:66%;
}
.dez-mobile-padding-67
{
	padding:67%;
}
.dez-mobile-padding-68
{
	padding:68%;
}
.dez-mobile-padding-69
{
	padding:69%;
}
.dez-mobile-padding-70
{
	padding:70%;
}
.dez-mobile-padding-71
{
	padding:71%;
}
.dez-mobile-padding-72
{
	padding:72%;
}
.dez-mobile-padding-73
{
	padding:73%;
}
.dez-mobile-padding-74
{
	padding:74%;
}
.dez-mobile-padding-75
{
	padding:75%;
}
.dez-mobile-padding-76
{
	padding:76%;
}
.dez-mobile-padding-77
{
	padding:77%;
}
.dez-mobile-padding-78
{
	padding:78%;
}
.dez-mobile-padding-79
{
	padding:79%;
}
.dez-mobile-padding-80
{
	padding:80%;
}
.dez-mobile-padding-81
{
	padding:81%;
}
.dez-mobile-padding-82
{
	padding:82%;
}
.dez-mobile-padding-83
{
	padding:83%;
}
.dez-mobile-padding-84
{
	padding:84%;
}
.dez-mobile-padding-85
{
	padding:85%;
}
.dez-mobile-padding-86
{
	padding:86%;
}
.dez-mobile-padding-87
{
	padding:87%;
}
.dez-mobile-padding-88
{
	padding:88%;
}
.dez-mobile-padding-89
{
	padding:89%;
}
.dez-mobile-padding-90
{
	padding:90%;
}
.dez-mobile-padding-91
{
	padding:91%;
}
.dez-mobile-padding-92
{
	padding:92%;
}
.dez-mobile-padding-93
{
	padding:93%;
}
.dez-mobile-padding-94
{
	padding:94%;
}
.dez-mobile-padding-95
{
	padding:95%;
}
.dez-mobile-padding-96
{
	padding:96%;
}
.dez-mobile-padding-97
{
	padding:97%;
}
.dez-mobile-padding-98
{
	padding:98%;
}
.dez-mobile-padding-99
{
	padding:99%;
}
.dez-mobile-padding-100
{
	padding:100%;
}

}