/* 
Framework : Dez
Version : dezV1.0
concepts : ?
Coding : Transforms of the content in 3 Dimensional Series and also 2 Dimensional (In Progress ). 

*/
.dez-transform-x
{
	-webkit-transition: transform 1s;
	transition : transform 1s;
}
.dez-transform-x:hover
{
	transform:rotateX(720deg);
}
/* =================================== */
.dez-transform-y
{
	-webkit-transition:transform 1s;
	transition : transform 1s;
}
.dez-transform-y:hover
{
	transform:rotateY(720deg);
}
/* =================================== */
.dez-transform-focus
{
	-webkit-transition:transform 1.5s;
	transition : transform 1.5s;
}
.dez-transform-focus:hover
{
	transform:scale(1.1,1.1);
	background:#f9f9f9;
}
/* =================================== */
